body {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  background-color: #fff;

  /* System Fonts as used by Medium and WordPress */
  /* https://css-tricks.com/snippets/css/system-font-stack/ */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;

  --menu-text-color: black;
  --menu-secondary-text-color: #c0c0c0;
  --menu-item-background: #fff;
  --menu-item-highlight: #e4f0f5;
}

main {
  text-align: center;
}

#introduction {
}

h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;

  color: #5373f4;
  font-size: 10vmin;
}

h1 > span {
  margin: 0.2em;
  text-align: left;
}

.logo {
  display: inline-block;
  height: 1.5em;

  border: 0.1em solid #5373f4;
  border-radius: 50%;
}

.logo img {
  height: 100%;
}

button:focus {
  outline: none; /* TODO: fix a11y */
}

@import "./responsiveness.scss";
