.overlay__toggle {
  display: none;
}

.overlay {
  display: flex;
  flex-direction: column;

  position: absolute;
  top: 0;

  width: 400px;
  height: 100%;

  z-index: 1;
  pointer-events: none;
  background-color: transparent;

  transition: background-color ease-out .2s, opacity ease-out .2s;

  &.overlay--left {
    left: 0;
    --toggle-open-rotation: -90deg;
    --toggle-close-rotation: 90deg;
    --content-shift: -100%;
  }

  &.overlay--right {
    right: 0;

    .overlay__toggle {
      margin-left: auto;
    }

    --toggle-open-rotation: 90deg;
    --toggle-close-rotation: -90deg;
    --content-shift: 100%;
  }

  .overlay__toggle {
    display: inline-block;
    pointer-events: auto;

    cursor: pointer;
    display: inline-block;
    position: relative;
    width: 44px;
    height: 44px;
    padding: 0;
    margin: 20px;
  }

  .overlay__content {
    transform: translateX(var(--content-shift));
    transition: transform ease-out 0.2s;
  }

  .overlay__toggle-icon {
    position: absolute;
    top: 6px;
    left: 6px;
    transition: transform 0.2s ease-out, opacity 0.2s ease-out;
    color: white;
  }

  .overlay__toggle-icon--open {
    opacity: 1;
    transform: none;

    filter: drop-shadow(var(--text-shadow));
  }

  .overlay__content {
    --menu-text-color: #fff;
    --menu-secondary-text-color: #fff;
    --menu-item-background: transparent;
    --menu-item-highlight: transparent;
  }

  .overlay__toggle-icon--close {
    opacity: 0;
    transform: none;
  }

  &.overlay--open {
    pointer-events: auto;
    z-index: 2;
    background-color: var(--overlay-background);

    .overlay__toggle {
      background: none;
    }

    .overlay__content {
      transform: none;
    }

    .overlay__toggle-icon--open {
      opacity: 0;
      transform: rotate(var(--toggle-open-rotation));
    }

    .overlay__toggle-icon--close {
      opacity: 1;
      transform: rotate(var(--toggle-close-rotation));
    }
  }
}

@media (max-width: 1200px) {
  .overlay {
    width: 100%;
    --overlay-background: rgba(0, 0, 0, 0.5);
  }
  
  .has-overlay {
    .overlay:not(.overlay--open),
    .hide-when-overlay {
      opacity: 0;
    }
  }
}
