.overlay__toggle {
  display: none;
}

.overlay {
  display: flex;
  flex-direction: column;

  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  z-index: 1;
  pointer-events: none;
  background-color: transparent;

  transition: background-color ease-out .2s, opacity ease-out .2s;

  &.overlay--left {
    --toggle-open-rotation: -90deg;
    --toggle-close-rotation: 90deg;
    --content-shift: -100%;
  }

  &.overlay--right {
    .overlay__toggle {
      margin-left: auto;
    }

    --toggle-open-rotation: 90deg;
    --toggle-close-rotation: -90deg;
    --content-shift: 100%;
  }

  .overlay__toggle {
    display: block;
    pointer-events: auto;

    cursor: pointer;
    display: inline-block;
    position: relative;
    width: 44px;
    height: 44px;
    padding: 0;
    margin: 20px;
  }

  .overlay__content {
    transform: translateX(var(--content-shift));
    transition: transform ease-out 0.2s;
  }

  .overlay__toggle-icon {
    position: absolute;
    top: 6px;
    left: 6px;
    transition: transform 0.2s ease-out, opacity 0.2s ease-out;
    color: white;
  }

  .overlay__toggle-icon--open {
    opacity: 1;
    transform: none;
  }

  .overlay__content {
    width: 100% !important;
    color: white !important;
    background-color: transparent !important;

    * {
      background-color: transparent !important;
    }
  }

  .overlay__toggle-icon--close {
    opacity: 0;
    transform: none;
  }

  &.overlay--open {
    pointer-events: auto;
    z-index: 2;
    background-color: rgba(0, 0, 0, .5);

    .overlay__toggle {
      background: none;
    }

    .overlay__content {
      transform: none;
    }

    .overlay__toggle-icon--open {
      opacity: 0;
      transform: rotate(var(--toggle-open-rotation));
    }

    .overlay__toggle-icon--close {
      opacity: 1;
      transform: rotate(var(--toggle-close-rotation));
    }
  }
}

@media (max-width: 1200px) {
  .has-overlay {
    .overlay:not(.overlay--open),
    .hide-when-overlay {
      opacity: 0;
    }
  }
}
