.anomaly-selector {
  position: relative;
  font-size: 1.5em;
  cursor: pointer;
  text-align: left;
  width: 230px;
  height: 100%;
  color: black;
  background-color: white;

  overflow-x: hidden;
  overflow-y: auto;
}

.anomaly-selector label {
  background-color: white;
  display: block;
  padding: 0.5em;
  padding-right: 1em;
  cursor: pointer;

  transform-origin: left;

  will-change: background-color;
  transition: transform ease-out 0.2s;
}

.anomaly-selector small {
  display: block;
  font-size: 70%;
  color: #c0c0c0;
}

.anomaly-selector label:hover {
  transform: scale(1.1);
}

.anomaly-selector label.selected {
  background-color: #e4f0f5;
}

.anomaly-selector input {
  display: none;
}
