.anomaly-selector {
  text-align: left;
  font-size: 1.5em;
  height: 100%;

  display: flex;
  flex-direction: column;
}

.anomaly-values {
  position: relative;
  flex-grow: 1;

  cursor: pointer;
  width: 230px;
  color: var(--menu-text-color);
  background-color: var(--menu-item-background);

  overflow-x: hidden;
  overflow-y: auto;
}

.anomaly-values label {
  background-color: var(--menu-item-background);
  display: block;
  padding: 0.5em;
  padding-right: 1em;
  cursor: pointer;

  transform-origin: left;

  will-change: background-color;
  transition: transform ease-out 0.2s;
}

.anomaly-values small {
  display: block;
  font-size: 70%;
  color: var(--secondary-text-color);
}

.anomaly-values label:hover {
  transform: scale(1.1);
}

.anomaly-value--selected {
  --menu-item-background: var(--menu-item-highlight);
}

.anomaly-values input {
  display: none;
}

.anomaly-toggle {
  display: none;
}
