.anomaly-selector {
  text-align: left;
  font-size: 1.5em;
  height: 100%;
}

.anomaly-values {
  position: relative;
  cursor: pointer;
  width: 230px;
  height: 100%;
  color: black;
  background-color: white;

  overflow-x: hidden;
  overflow-y: auto;
}

.anomaly-values label {
  background-color: white;
  display: block;
  padding: 0.5em;
  padding-right: 1em;
  cursor: pointer;

  transform-origin: left;

  will-change: background-color;
  transition: transform ease-out 0.2s;
}

.anomaly-values small {
  display: block;
  font-size: 70%;
  color: #c0c0c0;
}

.anomaly-values label:hover {
  transform: scale(1.1);
}

.anomaly-values label.selected {
  background-color: #e4f0f5;
}

.anomaly-values input {
  display: none;
}

.anomaly-toggle {
  display: none;
}

@media (max-width: 1200px) {
  .anomaly-toggle {
    display: block;
  }

  .anomaly-selector {
    position: absolute;
    z-index: 1;
  }

  .anomaly-toggle button {
    font-size: 20px !important;
    color: white;
    cursor: pointer;
  }

  .anomaly-selector * {
    color: white !important;
    background: none !important;
  }

  .anomaly-values {
    transition: transform ease-out 0.2s;
    transform: translateX(-100%);
  }

  .expanded .anomaly-values {
    transform: none;
  }
}
