.daltonize {
  position: fixed;
  top: 0;
  left: 0;
  /*width: 100vw;
  height: 100vh;*/
  bottom: 0;
  right: 0;
  overflow: hidden;
}

.flip-x {
  transform: scaleX(-1);
}

/* TODO: fix this styling (maybe make container redundant) */
.daltonize-container {
  width: 100%;
  height: 100%;
}

.daltonize-content {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* TODO: decently split up styling */
.visually-hidden {
  display: none;
}

button {
  border: none;
  background: none;
}
