body {
  /* System Fonts as used by Medium and WordPress */
  /* https://css-tricks.com/snippets/css/system-font-stack/ */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

.daltonize-ui {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
}

.daltonize {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.flip-x {
  transform: scaleX(-1);
}

/* TODO: fix this styling (maybe make container redundant) */
.daltonize-container {
  width: 100%;
  height: 100%;
}

.daltonize-content {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* TODO: decently split up styling */
.visually-hidden {
  display: none;
}

button {
  border: none;
  background: none;
}
