.daltonize-container {
  position: relative;
  display: inline-block;
  font-size: 0;
}

.daltonize-container :not(canvas) {
  visibility: hidden;
}

.daltonize-container canvas {
  position: absolute;
  top: 0;
  left: 0;

  height: 100%;
  width: 100%;
}
