.main-menu {
  display: flex;
  justify-content: center;
  width: 100%;
  position: absolute;
  bottom: 2em;
  text-align: center;
  padding: 0;
  margin: 0;

  transition: opacity ease-out 0.2s;
}

.main-menu-items {
  display: flex;
  width: 100%;
  max-width: 60vw;
  justify-content: space-around;
}

.main-menu button {
  background-color: #fff;
  transition: background-color ease-in-out 0.2s, transform ease-in-out 0.2s;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  padding: 0;
  margin: 0;
  width: 70px;
  height: 70px;

  border-radius: 50%;
}

.main-menu .disable {
  background-color: #fd3b2f;
  color: #fff;
}

.main-menu button:focus {
  outline: none; /* TODO: I know this is bad for a11y. Need to fix */
}
