.daltonize-ui {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
  background-color: black;

  display: flex;
}

.daltonize-wrapper {
  position: relative;
  height: 100%;
  flex-grow: 1;

  transition: opacity ease-out 0.2s;
}

.daltonize {
  height: 100%;

  transition: opacity .2s ease-out;
}

.daltonize--mirror {
  transform: scaleX(-1);
}

.daltonize__content {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.daltonize--letterbox .daltonize__content {
  object-fit: contain;
}

.daltonize--fetching {
  opacity: .5;
}

/* TODO: decently split up styling */
.visually-hidden {
  display: none;
}

button {
  border: none;
  background: none;
}

.current-deficiency {
  position: absolute;
  top: 1.5em;
  width: 100%;
  text-align: center;

  color: white;
  font-size: 2em;

  transition: opacity ease-out .2s;
  text-shadow: var(--text-shadow);

  small {
    font-size: 60%;
    opacity: 0.9;
    white-space: pre-line;
  }
}

.message {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background: var(--main-background);
  color: white;

  z-index: 1;
}

.message * {
  max-width: 50em;
}

.message__retry {
  border: 1px solid #fff;
  color: #fff;

  display: inline-block;
  padding: .5em;
  font-size: 1.2em;
}
