.daltonize-ui {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
  background-color: black;

  display: flex;
}

.daltonize-wrapper {
  position: relative;
  height: 100%;
  flex-grow: 1;

  transition: opacity ease-out 0.2s;
}

.daltonize {
  height: 100%;
}

.flip-x {
  transform: scaleX(-1);
}

.daltonize-content {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.daltonize-letterbox .daltonize-content {
  object-fit: contain;
}

/* TODO: decently split up styling */
.visually-hidden {
  display: none;
}

button {
  border: none;
  background: none;
}

.current-anomaly {
  position: absolute;
  top: 1.5em;
  width: 100%;
  text-align: center;

  color: white;
  font-size: 2em;

  transition: opacity ease-out .2s;

  small {
    font-size: 60%;
    opacity: 0.9;
    white-space: pre-line;
  }
}
